TRADIER_TOKEN=
# Production market data:
TRADIER_BASE_URL=https://api.tradier.com/v1
# Sandbox alternative, if you are using a sandbox token:
# TRADIER_BASE_URL=https://sandbox.tradier.com/v1
PORT=4173
CLIENT_ORIGIN=http://127.0.0.1:5173
