SCHWAB_APP_KEY=
SCHWAB_APP_SECRET=
SCHWAB_CALLBACK_URL=https://127.0.0.1:4173/api/schwab/callback
SCHWAB_AUTH_BASE_URL=https://api.schwabapi.com/v1/oauth
SCHWAB_MARKET_DATA_BASE_URL=https://api.schwabapi.com/marketdata/v1
ALPHA_VANTAGE_API_KEY=
ALPHA_VANTAGE_BASE_URL=https://www.alphavantage.co/query
PORT=4173
API_HTTPS=true
API_HTTPS_KEY_PATH=certs/localhost-key.pem
API_HTTPS_CERT_PATH=certs/localhost-cert.pem
CLIENT_ORIGIN=http://127.0.0.1:5173
